.idea/
.vscode/
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/

*venv/lib*
*venv/bin*
env
env/*
.vscode
.env
.DS_Stor
*__pycache__*
*pyc
*.flaskenv
*pyvenv.cfg
*/init_db.py
*/include/site/python3.10/greenlet/greenlet.h
*.lock
*/bin/*
*/lib/*
venv*
